<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttp" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcp" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WsHttp">
                    <reliableSession enabled="true" />
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/evals/basic/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttp" contract="IEvalService" name="BasicHttp" />
            <endpoint address="http://localhost:8080/evals/ws/" binding="wsHttpBinding"
                bindingConfiguration="WsHttp" contract="IEvalService" name="WsHttp" />
            <endpoint address="net.tcp://localhost:8081/evals/" binding="netTcpBinding"
                bindingConfiguration="NetTcp" contract="IEvalService" name="NetTcp">
                <identity>
                    <userPrincipalName value="NAZGUL-PC2\Nazgul" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>